@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paylocity Benefits Enrollment</h1>
    <p class="lead">Get Total Cost of Benefits</p>
    <p><a href="~/Benefits" class="btn btn-primary btn-lg">Add Employee/Dependents &raquo;</a></p>
</div>
